<%= form_with url: root_path, local: true, method: :get, class:"form-inline" do |form| %>
  <div class="input-group">
    <div class="collapse" id="searchForm">
      <%= form.text_field :search, class: 'form-control', placeholder: t(".search") %>
      <%= form.submit t('.filter'), class: "btn btn-outline-primary" %>
    </div>
    <a data-toggle="collapse" href="#searchForm"><%= image_tag 'search', class: "btn btn-outline-light" %></a>
  </div>
<% end %>