<%= form_with url: root_path, local: true, method: :get, class:"form-inline" do |form| %>
  <div class="col-auto input-group">
    <%= image_tag 'search', class: "input-group-text" %>
    <%= form.text_field :search, class: 'form-control', placeholder: t(".search") %>
    <%= form.submit t('.filter'), class: "btn btn-primary" %>
  </div>
<% end %>