<div class="container">
  <div class="row">
    <% if @questions.blank? %>
      <h2>No Drafts present</h2>
    <% else %>
      <%= render @questions %>
      <%= paginate @questions %>
    <% end %>
  </div>
</div>