<% content_for :js do %>
  <%= javascript_pack_tag 'toggle_comments', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row">
  <%= render "search_form" %>
  <%= render @questions %>
  <%= paginate @questions %>
</div>
