<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% #FIXME_AB: better presentation of comment list. I think instead of having seperate page for comments, show with questions. COmment button on home page in quesions block should just show hide comments on the questions. -%>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Question', @question %>
