<%= render current_user, user: current_user %>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <%= link_to t('.edit'), edit_user_path(current_user), class: 'btn btn-primary' %>
</div>
