<div class="container">
  <div class="row">
      <h3>This is a Quora-clone</h3>
      <p>Quora is an American question-and-answer website where questions are asked,
      answered, and edited by Internet users, either factually or in the form of opinions.
      Its owner, Quora Inc., is based in Mountain View, California, United States.</p>
  </div>
</div>