body {
  background-color: silver;
  color: #333;}

nav{
  margin-bottom: 10px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

textarea{
  max-width: 20em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: brown; }

a:hover {
  color: rebeccapurple; }

ul.list-group{
  width: 100%;
  li{
    margin: 2px;
  }
}

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions,
div.form-group {
  margin-bottom: 10px; }

div.card {
  margin-bottom: 1em;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.notice, #notice {
  background: tan;
  border-radius: 0.5em;
  border: solid 0.177em green;
  color: green;
  font-weight: bold;
  margin: 1em;
  padding: 10px 10px;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
