<div class="toast" style="position: absolute; right: 0;" data-delay="5000">
  <div class="toast-header">
    <strong class="mr-auto"></strong>
    <small></small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body"></div>
</div>
<% if current_user.present? %>
  <%= content_tag :div, '', data: { user: current_user.id, topics: current_user.topic_names, path: '/notifications' }, id: 'user-data' %>
<% end %>